.header-banner {
  background-image: url("../../assets/banner.png");
  height: 400px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
